---
title: Getty Code Camp | Summer 2017
---

.splash
  .splash__center
    = image_tag("/assets/images/logo.svg")
    %h2 At the Getty
    %p.description
      A friendly introduction to the Web, Summer 2017.
.section
  .section__inner
    :markdown
      ## Why code camp?

      The idea behind code camp is to build a common language across working with
      the web. Are you a novice Teamsite user? Work closely with developers, but
      on the non-technical side? Want to learn more about how the web works and is
      put together? Then code camp is for you!

      ## When is code camp?

      Code camp will be on **Wednesdays from 5:00 pm – 6:30 pm** starting on **June 7th**
      over a six-week period (skipping the week of 4th of July.)

      ## What should I know before signing up?

      1. Each session will build upon the previous. Because of that, we ask that
        everyone who registers commit to attend all sessions.
      2. Camp will be limited to the first 15 people who register. Early bird gets the `<worm />`.
      3. This is a FREE program for Getty employees. Learn a new skill at no cost to you!
      4. Coder fuel (ie. pizza and soda) provided for all code campers.

      ## What will be covered in this camp?

      Session 1 (6/7)  | Tools of the Web (Github, Text Editors, etc.)
      Session 2 (6/14) | Structure of the Web (HTML)
      Session 3 (6/21) | Style of the Web (CSS)
      Session 4 (6/28) | Responsiveness of the Web (Best Practices)
      Session 5 (7/12) | Celebration of the Web (Capstone Project Show and Tell)

      ## How do I register?

      Register online at [http://bit.ly/gettycodecamp2017](http://bit.ly/gettycodecamp2017).

